<div class="container mt-4">
  <div class="form-group d-flex gap-2">
    <textarea
      class="input form-control"
      id="input-box"
      placeholder="Input the plain text..."
      [(ngModel)]="plainText"
    ></textarea>

    <div id="options">
      <div class="form-control bg-white">
        <div class="btn-group" role="group" >
          <input
            type="radio"
            class="btn-check"
            name="btnradio"
            id="btnradio1"
            autocomplete="off"
            [checked]="encryptSelection"
            (change)="onChange(true)"
          />
          <label class="btn btn-outline-primary" for="btnradio1">Encrypt</label>
          <input
            type="radio"
            class="btn-check"
            name="btnradio"
            id="btnradio2"
            autocomplete="off"
            [checked]="!encryptSelection"
            (change)="onChange(false)"
            [disabled]="localAlgorithm!=='AES'"
          />
          <label class="btn btn-outline-primary" for="btnradio2">Decrypt</label>
        </div>
        <div class="form-group">
          <label for="algorithm" class="form-label mt-4"
            >Algorithm</label
          >
          <select class="form-select" id="algorithm" [(ngModel)]="localAlgorithm">
            <option value="AES" selected="selected">AES</option>
            <option value="Adler-32">Adler-32</option>
            <option value="Chaum">Chaum</option>
          </select>
        </div>

        <label *ngIf="localAlgorithm==='AES'" class="form-label mt-4" for="key">Key:</label>
        <input *ngIf="localAlgorithm==='AES'" class="form-control" id="key" type="text" [(ngModel)]="key"  >

        <div class="d-flex g-1">
        <div class="d-flex justify-content-center align-items-center mt-4">
        <label *ngIf="localAlgorithm==='Chaum'" class="form-label fs-4" for="key">q</label>
        <input *ngIf="localAlgorithm==='Chaum'" class="form-control input--number" id="key" type="text" [(ngModel)]="chaumVariables.q"  >
        </div>

        <div class="d-flex justify-content-center align-items-center mt-4">
        <label *ngIf="localAlgorithm==='Chaum'" class="form-label fs-4" for="key">α</label>
        <input *ngIf="localAlgorithm==='Chaum'" class="form-control input--number" id="key" type="text" [(ngModel)]="chaumVariables.alfa"  >
        </div>

         <div class="d-flex justify-content-center align-items-center mt-4">
        <label *ngIf="localAlgorithm==='Chaum'" class="form-label fs-4" for="key">a</label>
        <input *ngIf="localAlgorithm==='Chaum'" class="form-control input--number" id="key" type="text" [(ngModel)]="chaumVariables.a"  >
        </div>
        </div>

        <div class="d-flex g-1">
        <div class="d-flex justify-content-center align-items-center mt-4">
        <label *ngIf="localAlgorithm==='Chaum'" class="form-label fs-4" for="key">e1</label>
        <input *ngIf="localAlgorithm==='Chaum'" class="form-control input--number" id="key" type="text" [(ngModel)]="chaumVariables.e1"  >
        </div>

        <div class="d-flex justify-content-center align-items-center mt-4">
        <label *ngIf="localAlgorithm==='Chaum'" class="form-label fs-4" for="key">e2</label>
        <input *ngIf="localAlgorithm==='Chaum'" class="form-control input--number" id="key" type="text" [(ngModel)]="chaumVariables.e2"  >
        </div>
        </div>


        <div class="d-flex g-2 justify-content-around mt-2 gap-3">
          <button class="btn btn-primary process" (click)="setResult()"></button>
          <button class="btn btn-primary change" (click)="reverse()" ></button>
        </div>
      </div>
    </div>

    <textarea
      class="input form-control"
      id="output-box"
      placeholder="Encrypted output..."
      readonly
      >{{ output }}</textarea
    >
  </div>
</div>

